.van-theme-dark .svg-icon[color-invertable='true'] {
  filter: invert(100%);
  opacity: 0.9;
}

.van-theme-dark .body {
  color: var(--van-text-color-2);
}

.van-theme-dark .van-nav-bar .van-icon,
.van-theme-dark .van-nav-bar__text {
  color: #ececec !important;
}

.van-theme-dark .van-tabbar-item--active {
  color: #ececec !important;
}

.van-theme-dark .van-field__control::placeholder {
  color: var(--van-text-color-2);
}

.van-theme-dark .applied-filters-container {
  background: #1c1c1e;
}

.van-theme-dark .button-link {
  border-bottom: 1px solid var(--theme-link-color);
}

.van-theme-dark .button-link:hover {
  border-bottom: 1px solid var(--theme-link-hover-color);
}

.van-theme-dark .button-link,
.van-theme-dark a {
  color: var(--theme-link-color);
}

.van-theme-dark .button-link:hover,
.van-theme-dark a:hover {
  color: var(--theme-link-hover-color);
}

/* bugfix */

.van-button--plain.van-button--danger {
  border-width: 1px;
}

.van-theme-dark .shadow-depth1 {
  -webkit-box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.van-theme-dark .shadow-depth2 {
  -webkit-box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}

.van-theme-dark .shadow-depth3 {
  -webkit-box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}

.van-theme-dark .shadow-depth4 {
  -webkit-box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.van-theme-dark .shadow-depth5 {
  -webkit-box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

.van-theme-dark .shadow-soft-1 {
  /*box-shadow: 0px 0px 30px rgba(200, 200, 200, 0.3)*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.van-theme-dark .big-shadow {
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.7) !important;
}

.van-theme-dark .small-shadow {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4) !important;
}

.van-theme-dark .shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.van-theme-dark .shadow {
  box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17) !important;
}

.van-theme-dark .empty-list {
  color: #4d4d4d;
}

.van-theme-dark .info {
  color: #707070;
}

.van-theme-dark .main-icon {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #1c1c1e;
}

.van-theme-dark .transaction-form-group .van-cell-group--inset {
  border: 1px solid var(--theme-border-color-grey);
}

.van-theme-dark .van-tabs--line {
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.van-theme-dark .van-tab__text {
  color: #1c1c1e;
}

.van-theme-dark .van-tab--active .van-tab__text {
  color: #3a3a3c;
}

.van-theme-dark .transaction-type-select-tabs .van-tab--active.van-tab .van-tab__text {
  background: #1c1c1e;
}

.van-theme-dark .transaction-card .tag,
.tag {
  border: 1px solid var(--van-border-color);
}

.van-theme-dark .tag-gray {
  border: 1px solid var(--van-border-color);
  background: #000;
}

.van-theme-dark .amount-expense {
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.van-theme-dark .amount-income {
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.van-theme-dark .badge {
  border: 1px dashed var(--van-border-color);
  color: #1c1c1e;
  background: #000;
}

.van-theme-dark .badge2 {
  background: #fff;
  color: #000;
}

.van-theme-dark .color-expense {
  color: #000;
}

.van-theme-dark .color-income {
  color: #000;
}

.van-theme-dark .color-transfer {
  color: #000;
}

.van-theme-dark .day-of-week {
  background: #ccc;
  color: #000;
}

.van-theme-dark .van-tabbar {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.van-theme-dark .van-nav-bar {
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.4) 0px 0px 0px 1px;
}

.van-theme-dark .active .app-icon-item {
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.van-theme-dark .van-button--primary {
  /*background: #00A261 !important;*/
  /*background: #006ae6 !important;*/
  background: #00a261 !important;
}

.van-theme-dark .first_column {
  color: #1c1c1e;
}

.van-theme-dark .transaction-type-item.selected {
  background-color: #303030;
  background-image: none;
}

.van-theme-dark .transaction-type-item {
  color: #fff;
}

.van-theme-dark .type-indicator {
  /*border: 2px solid var(--van-cell-background);*/
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.van-theme-dark .vant-card {
  background: #1c1c1e;
  border: 1px solid var(--van-border-color);
}

.van-theme-dark .app-repeater-no-values {
  color: #707070;
}

.van-theme-dark .list-item-subtitle,
.van-theme-dark .text-muted {
  color: var(--van-text-color-4) !important;
}

.van-theme-dark .list-item-title {
  color: var(--van-cell-text-color);
}

.van-theme-dark .list-item-disabled {
  color: #707070;
}

/*.van-theme-dark .fake-input {*/
/*  background: var(--van-background-2-5);*/
/*}*/

.van-theme-dark .latest-version-badge {
  background: #00a261;
}


.van-theme-dark .latest-version-badge a {
  color: #fff;
}



.van-theme-dark .hero-icons-section {
  background: var(--van-cell-background);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.van-theme-dark .hero-icon-weekday {
  color: #000;
}

.van-theme-dark .applied-filter {
  color: #000;
}

.van-theme-dark .app-tutorial-button {
  color: var(--van-text-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-image: linear-gradient(120deg, #F06292, #D81B60);
}

.van-theme-dark .app-bottom-loading {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: var(--van-cell-background);
}

.van-theme-dark .transaction-type-container {
  background: var(--van-cell-background);
  border: 1px solid var(--van-border-color);
}

.van-theme-dark .transaction-type-container .transaction-type-item:nth-child(1).selected {
  --test: #e04579;
  border: 2.8px solid var(--test);
  color: var(--test);
}

.van-theme-dark .transaction-type-container .transaction-type-item:nth-child(2).selected {
  --test: #2c9467;
  border: 2.8px solid var(--test);
  color: var(--test);
}

.van-theme-dark .transaction-type-container .transaction-type-item:nth-child(3).selected {
  --test: #4f92fd;
  border: 2.8px solid var(--test);
  color: var(--test);
}

.van-theme-dark .transaction-type-container div:nth-child(1) .type-indicator {
  background: #e04579;
}

.van-theme-dark .transaction-type-container div:nth-child(2) .type-indicator {
  background: #59a75c;
}

.van-theme-dark .transaction-type-container div:nth-child(3) .type-indicator {
  background: #3e9eec;
}

.van-theme-dark .svg-add-icon-bg {
  opacity: 1;
  fill: #00a261;
}

.van-theme-dark .svg-add-icon-plus {
  fill: #fff;
}

.van-theme-dark .van-field--disabled.app-field .van-field__body {
  background: #212121 !important;
}

.van-theme-dark .app-loading-background {
  background: rgba(0,0, 0, 0.7);
}

.van-theme-dark .app-loading {
  background: #222;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.van-theme-dark .budget-icon {
  background: #333;
}

.app-card-info {
  border: 1px dashed #666;
}


.van-theme-dark .split-transaction-badge {
  background: #B71C1C;
}

.van-theme-dark .assistant-tag {
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.65);
}

.van-theme-dark .badge-excluded-net-worth {
  background: #22385b;
  color: #E3F2FD;
}

.van-theme-dark .currency-dropdown {
  border: 1px dashed #fff;
}

.van-theme-dark .transaction-amount-operations {
  background: #222;
}

.van-theme-dark .transaction-amount-operations .button {
  background: #000;
  border: 1px solid #999;
}

.van-theme-dark .transaction-attachment {
  background: #2f2f2f;
}
.van-theme-dark .add-attachment {
  background: #2f2f2f;
}