:root {
  --max-device-width: 800px;
  --van-tabbar-z-index: 9;

  --expense1: rgba(236, 64, 122, 1);
  --expense2: rgba(236, 64, 122, 1);
  --expense3: #fce4ec;

  --income1: rgba(102, 187, 106, 1);
  --income2: rgba(129, 199, 132, 1);
  --income3: #e8f5e9;

  --transfer1: rgba(79, 195, 247, 1);
  --transfer2: rgba(41, 182, 246, 1);
  --transfer3: #e3f2fd;

  --demo-color: #aaa;

  --van-field-label-width: 10.5em !important;
  --van-collapse-item-content-background: transparent !important;
  --van-collapse-item-content-padding: 5px 5px !important;
}

.van-theme-dark {
  --demo-color: #666;
}
