:root {
  --black: #000;
  --semi-black: #888;
  --max-device-width: 800px;
  --van-tabbar-z-index: 10 !important;

  --expense1: rgba(236, 64, 122, 1);
  --expense2: rgba(236, 64, 122, 1);
  --expense3: #fce4ec;

  --income1: rgba(102, 187, 106, 1);
  --income2: rgba(129, 199, 132, 1);
  --income3: #e8f5e9;

  --transfer1: rgba(79, 195, 247, 1);
  --transfer2: rgba(41, 182, 246, 1);
  --transfer3: #e3f2fd;

  --van-background-2-5: #f7f8fa;
  /*--primary-action: #000;*/
  --primary-action: #00a261;

  --chart-bar-background: #c4c7d4;

  --van-search-content-background: var(--van-background-2-5) !important;

  --van-field-label-width: 10.5em !important;
  --van-collapse-item-content-background: transparent !important;
  --van-collapse-item-content-padding: 5px 5px !important;
  --van-floating-bubble-size: 40px !important;
}

.van-theme-dark {
  --black: #fff;
  --semi-black: #aaa;

  --van-background-2-5: #2f2f2f;
  /*--primary-action: #2f2f2f;*/
  --primary-action: #00a261dd;

  --chart-bar-background: #707070;

  --expense1: rgba(236, 64, 122, 1);
  --expense2: rgba(236, 64, 122, 1);
  --expense3: #fce4ec;

  --income1: rgba(102, 187, 106, 1);
  --income2: rgba(129, 199, 132, 1);
  --income3: #e8f5e9;

  --transfer1: rgba(79, 195, 247, 1);
  --transfer2: rgba(41, 182, 246, 1);
  --transfer3: #e3f2fd;

  --van-border-color: #666;

  --theme-black: #fff;
  --theme-background-grey: #777;
  --theme-border-color-grey: #444;
  --theme-shadow-color: #fff;
  --theme-shadow-r: 200;
  --theme-shadow-g: 200;
  --theme-shadow-b: 200;
  --theme-highlight-r: 0;
  --theme-highlight-g: 0;
  --theme-highlight-b: 0;
  --theme-text-white: #000;
  --theme-link-color: #03a9f4;
  --theme-link-hover-color: #0288d1;
  --van-text-color-3: var(--van-text-color-2);
  --van-text-color-4: #ccc;
  --svg-color: #ffffff;
  --van-field-placeholder-text-color: var(--van-text-color);
}
